{% extends 'base.html' %}
{% load deliverytags %}
{% block content %}
<div style="margin-top: 10px">
<div class="jumbotron container" style="text-align: center;"> 
	<h4>Bill ID:  {{ bill.Id}} </h4><hr>
	<h4>Date In:  {{bill.Date_In|to_date}} </h4> <hr>
	<h4>Date Sent: {% if bill.Status != 'pending' %} {{bill.Date_Sent|to_date}} {% else %} Not Sent Yet {% endif %}</h4><hr>
	<!--<h4>Processing Date: {{bill.Date|to_date}}</h4><hr>-->
	<h4>Address:  {{bill.address}} </h4> <hr>
	<h4>Client:  {{bill.client}}</h4> <hr>
	<h4>Delivered In:  {{bill.delivery_in.Name}}</h4> <hr>
	{% if bill.Status != "pending" %}<h4>Delivered Out:  {{bill.delivery_out.Name}}</h4> <hr>{% endif %}
	<h4>End Client Name:  {{bill.endClientName}}</h4> <hr>
	<h4>End Client Number:  {{bill.endClientNumber}}</h4> <hr>
	<h4>Product Cost:  {{bill.Product_cost | format_cost}}</h4> <hr>
	<h4>Delivery Cost:  {{bill.Delivery_cost | format_cost}}</h4> <hr>
	<h4>Status:  {{bill.Status}} {% if bill.Status == 'refunded' %} - 
		{% if bill.Done_Refunding %} Refunding Finshed
		{% else %} Refunding Not Finalized yet
		{% endif %} {% endif %}
	</h4><hr> 


<a href="{% url 'updatebill' bill.Id %}"><button style="width:100%" class="btn btn-primary">
Edit Bill</button></a>
<hr>
<a href="{% url 'deletebill' bill.Id %}"><button style="width:100%" class="btn btn-danger">
Delete Bill</button></a>
</div></div>
{% endblock %}