{% extends "base.html" %}
{% load deliverytags %}
{% load static %}
{% block content %}

<div class="container jumbotron list-group-item-danger" style="color:black;overflow-y:scroll; height:90%; margin-bottom:15px; font-size:20px; width:100% ; background-color:blue; margin-top:15px ">

 
<ol class="list-group">
	<form class="form-group" style="align:center" action="{% url 'index' category %}" method="POST">
	{% csrf_token %}
   <div style="color:white"> <h2 >Filter Section: </h2> </div>
<label for="requested_date" style="color:white;"><h2>Date In </h2></label>

    <input class="form-control" id="requested_date"  type="date" name="requested_date" {% if date == '0-0-0' %} value="No Date Specified" {% else %} value={{date|to_str}} {% endif %}>
    <hr>
    
     <label for="requested_phone" style="color:white;"><h3 >End-Client Phone  <h5> hint:(To view all bills with all phone numbers, enter: 0)</h5> </h3> </label>
    <input class="form-control" id="requested_phone" type="text" name="requested_phone" {% if phone == '0' %} value="All Phone Numbers" {% else %} value={{phone}} {% endif %}>
    <hr>
    <input style="align-self: center" type="submit" class="btn btn-light" value="Filter By Date In and Phone Number">
   
</form>
<p align="right"><a href="{% url 'index' 'all'  %}"><button  class="btn btn-light">View Unfinished Bills</button> </a></p>
<h3 style="color:white; margin-left:25%">View:
<a href="{% url 'index' 'all' date|get_year date|get_month date|get_day phone %}"> <button type="button" class="btn btn-light">All Bills</button></a>
<a href="{% url 'index' 'pending' date|get_year date|get_month date|get_day phone %}"> <button type="button" class="btn btn-light">Pending Bills</button></a>
<a href="{% url 'index' 'sent' date|get_year date|get_month date|get_day phone %}"> <button type="button" class="btn btn-light">Sent Bills</button></a>
<a href="{% url 'index' 'paid' date|get_year date|get_month date|get_day  phone%}"> <button type="button" class="btn btn-light">Paid Bills</button></a>	
<hr>
</h3>
<ul>
{% if date != '0-0-0' %}

{% for sts in bills %}

	{% if sts.Date_In|to_date == date|to_str%}
							{% if client == '0' or sts.Client.pk == client %}

					 {% if sts.Status == 'refunded' %}

					<li name="{{sts.Id}}_item" class="list-group-item " style="text-align: center; background: yellow"><a  
						href="{% url 'bill_details' sts.Id sts.Status  %}"
						>ID: {{sts.Id}}   <div name="{{sts.Id}}_date">Date In: {{sts.Date_In|to_date}}</div>  
					<div id="{{sts.Id}}_status" >Status: {{sts.Status}} </div></a>
					{% if sts.Done_Refunding %} <h5 style="color:green">Done Refunding</h5>
					{% else %}
					<h5 id="{{sts.Id}}_notdonerefunding" style="color:red">Refunding Not Done Yet</h5>
					
					<!--<a onclick="behave()" name="{{sts.Id}}" class="done_refunding" ><button type="button" id="{{sts.Id}}_donerefundingbutton" name="donerefunding" class="btn btn-danger">Done Refunding?</button></a>-->
					{% endif %}
					<div style="margin-right: 0px;padding-top:5px">
					</div>
					</li>

					 {% else %}
					<li name="{{sts.Id}}_item" class="list-group-item " style="text-align: center"><a  
						href="{% url 'bill_details' sts.Id sts.Status  %}"
						>ID: {{sts.Id}}   <div name="{{sts.Id}}_date">Date In: {{sts.Date_In|to_date}}</div>  
					<div id="{{sts.Id}}_status" >Status: {{sts.Status}} </div></a>

					{% if sts.Done %}
					<h5 name="{{sts.Id}}_done" style="color: green"> Done </h5>
					{% else %}
					<h5 id="{{sts.Id}}_notdone" style="color: red"> Not Done Yet </h5>
					
					{% if sts.Status == 'paid' %}
					<!--<a onclick="behave()" name="{{sts.Id}}" class="done"  > <button id="{{sts.Id}}_donebutton" type="button" name="done" class="btn btn-danger">Done?<br></button></a>-->
					{% else %}
					<span id="done_{{sts.Id}}"></span>
					{% endif %}
					{% endif %}


					<div style="margin-right: 0px;padding-top:5px">
					{% if sts.Status == "pending"  %} 
					<div id="deliveryout_{{sts.Id}}">
					Choose Driver Out:<br>
							<select class="ui search dropdown"   id="selectdeliveryout_{{sts.Id}}" >
								<option value="intro" selected disabled hidden>Search by typing the name</option>
							{% for deliveryout in deliveryouts %}
 						 <option  value="{{deliveryout.pk}}">{{deliveryout.Name}}</option>
					
 					 {% endfor %}
					</select><br><br></div>
					<script type="text/javascript">
					jQuery('.ui.search.dropdown')
  					.dropdown();
  					</script>
					<a onclick="behave()" name="{{sts.Id}}" class="sent" id="sent_{{sts.Id}}"> <button type="button" name="sent" id="{{sts.Id}}_sentbutton" class="btn btn-warning">Sent? </button></a>
					{% elif sts.Status == "sent" %}
						<a name="{{sts.Id}}" onclick="behave()" class="paid" id="paid_{{sts.Id}}"> <button id="{{sts.Id}}_paidbutton" type="button" class="btn btn-info" name="paid">Paid? </button></a>

							{% endif %}	
							{% endif %}


							</li>
							{% endif %}





	{% endif %}






{% endfor %}


{% else %}
{% for sts in bills %}

	{% if not sts.Done or sts.status == 'refunded' %}
					{% if not sts.Done_Refunding %}
							{% if client == '0' or sts.Client.pk == client %}

					 {% if sts.Status == 'refunded' %}

					<li name="{{sts.Id}}_item" class="list-group-item " style="text-align: center; background: yellow"><a  
						href="{% url 'bill_details' sts.Id sts.Status  %}"
						>ID: {{sts.Id}}   <div name="{{sts.Id}}_date">Date In: {{sts.Date_In|to_date}}</div>  
					<div id="{{sts.Id}}_status" >Status: {{sts.Status}} </div></a>
					{% if sts.Done_Refunding %} <h5 style="color:green">Done Refunding</h5>
					{% else %}
					<h5 id="{{sts.Id}}_notdonerefunding" style="color:red">Refunding Not Done Yet</h5>
					
					<!--<a onclick="behave()" name="{{sts.Id}}" class="done_refunding" ><button type="button" name="donerefunding" id="{{sts.Id}}_donerefundingbutton" class="btn btn-danger">Done Refunding?</button></a>-->
					{% endif %}
					<div style="margin-right: 0px;padding-top:5px">
					</div>
					</li>

					 {% else %}
					<li name="{{sts.Id}}_item" class="list-group-item " style="text-align: center"><a  
						href="{% url 'bill_details' sts.Id sts.Status  %}"
						>ID: {{sts.Id}}   <div name="{{sts.Id}}_date">Date In: {{sts.Date_In|to_date}}</div>  
					<div id="{{sts.Id}}_status" >Status: {{sts.Status}} </div></a>

					{% if sts.Done %}
					<h5 name="{{sts.Id}}_done" style="color: green"> Done </h5>
					{% else %}
					<h5 id="{{sts.Id}}_notdone" style="color: red"> Not Done Yet </h5>
					

					{% if sts.Status == 'paid' %}
					<!--<a onclick="behave()" name="{{sts.Id}}" class="done"  > <button id="{{sts.Id}}_donebutton" type="button" name="done" class="btn btn-danger">Done?<br></button></a>-->
					{% else %}
					<span id="done_{{sts.Id}}"></span>
					{% endif %}
					{% endif %}


					<div style="margin-right: 0px;padding-top:5px">
					{% if sts.Status == "pending"  %} 
					<div id="deliveryout_{{sts.Id}}">
					Choose Driver Out:<br>
							<select class="ui search dropdown"   id="selectdeliveryout_{{sts.Id}}" >
								<option value="intro" selected disabled hidden>Search by typing the name</option>
							{% for deliveryout in deliveryouts %}
 						 <option  value="{{deliveryout.pk}}">{{deliveryout.Name}}</option>
					
 					 {% endfor %}
					</select><br><br></div>
					<script type="text/javascript">
					jQuery('.ui.search.dropdown')
  					.dropdown();
  					</script>
					<a onclick="behave()" name="{{sts.Id}}" class="sent" id="sent_{{sts.Id}}"> <button type="button" id="{{sts.Id}}_sentbutton" name="sent" class="btn btn-warning">Sent? </button></a>
					{% elif sts.Status == "sent" %}
						<a onclick="behave()" name="{{sts.Id}}" class="paid" id="paid_{{sts.Id}}"> <button id="{{sts.Id}}_paidbutton" name="paid" type="button" class="btn btn-info">Paid? </button></a>

							{% endif %}	
							{% endif %}


							</li>
							{% endif %}





	{% endif %}





{% endif %}
{% endfor %}

{% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
// AJAX CALL


function behave() {
	var name=$(event.srcElement).attr("name");
	if (name=="sent") {
		var id = (event.srcElement.id).replace("_sentbutton","");
		var e = document.getElementById("selectdeliveryout_"+id);
		var strUser = e.value;
		if (strUser == "intro") {
		alert("You have to choose a driver out");
		return 0
		}
	
		$.ajax({
             type: "POST",
             url: "{% url 'index' category date|get_year date|get_month date|get_day phone%}",
             data: {'content_id': id,'operation':'sent','deliveryout':strUser,'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {

            	selector=document.getElementById(response.Id);
            	$(selector).text("Paid?");
            	$(selector).attr({class:'btn btn-info'});
            	selector=document.getElementById(response.statusid);
            	selector.innerText= "Status: sent";
            	selector=document.getElementById("sent_"+response.billid);
      			$(selector).attr("class", "paid");
      			
    			$(selector).attr("id","paid_"+response.billid);
    			selector=document.getElementById(response.billid+"_sentbutton");
    			$(selector).attr("id",response.billid+"_paidbutton");
    			$(selector).attr("name", "paid");
    			selector=document.getElementById("deliveryout_"+id);
    			$(selector).remove();
    			
              }



        });

		}

	else if (name=="paid") {
		var id = (event.srcElement.id).replace("_paidbutton","");
		$.ajax({
             type: "POST",
             url: "{% url 'index' category date|get_year date|get_month date|get_day phone %}",
             data: {'content_id': id,'operation':'paid','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
           
            	selector=document.getElementById(response.Id);
            	$(selector).text("Bill Already Paid");
            	$(selector).attr({class:'btn btn-success'});
            	selector=document.getElementById(response.statusid);
            	selector.innerText= "Status: paid";
            	selector=document.getElementById("paid_"+response.billid);
      			$(selector).attr("class", "noclass");
    			$(selector).attr("id","");
    			selector=document.getElementById(response.billid+"_paidbutton");
    			$(selector).attr("id","");
    			$(selector).remove();
    			//selector=document.getElementById("done_"+response.billid);
    			//selector.innerHTML= '<a onclick="behave()" name="'+response.billid+'" class="done"  > <button name="done" id="'+response.billid+'_donebutton" type="button" class="btn btn-danger">Done?<br></button></a>';
              }



        });
	}

	else if (name=="done") {
		var id = (event.srcElement.id).replace("_donebutton","");
		$.ajax({

             type: "POST",
             url: "{% url 'index' category date|get_year date|get_month date|get_day phone %}",
             data: {'content_id': id,'operation':'done','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
             
           	 selector = document.getElementsByName(response.block);
           	 $(selector).css({'color':'green'});
           	 $(selector).text("Done");
           	 s = document.getElementById(response.rem1);
           	 $(s).remove();
           	 s = document.getElementById(response.rem2);
           	 $(s).remove();
              }

        });
	}
	else if (name == "donerefunding") {
		var id = (event.srcElement.id).replace("_donerefundingbutton","");
		$.ajax({
             type: "POST",
             url: "{% url 'index' category date|get_year date|get_month date|get_day phone%}",
             data: {'content_id':id ,'operation':'done_refunding','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
             	var s=response.content_id + "_postponebutton";
             	selector=document.getElementById(s);
             	$(selector).remove();
            	selector=document.getElementById(response.Id);
            	$(selector).remove();
            	selector=document.getElementById(response.statusid);
            	$(selector).attr({style:'color:green'});
            	selector.innerText= "Done Refunding";

              }
        });
	}

}
</script>

{% endblock %}